<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Company</th>
  </tr>

  <% @paid.each do |app| %>
      <tr>
        <td><%= image_tag app_icon(app) %></td>
        <td><%=app.app_name %></td>
        <td><%=app.app_company %></td>
      </tr>
  <% end %>
</table>

