/*
Main content styling
*/

/*
Elements
*/

body {
    padding-top: 70px;
    margin: 30px;
}

table {
    margin-top: 30px;
}
table tr:hover {
    cursor:pointer;
}

/*
Classes
*/

.menu {
    position:fixed;
    top:51px;
    width: inherit;
    background-color: white;
    z-index: 10;
}
.navbar-header {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.navbar-header > .navbar-brand {
    margin: 0 auto;
    width: 100%;
}

.navbar-brand {
    font-size: 30px;
}

.page {
    margin-top: 40px;
    margin-bottom: 20px;
}

ul.nav.nav-pills.nav-justified  {
    border: solid blue 1px;
    top: 100px;
}

/*
IDs
*/

#company {
    font-size: small;
}
#image {
    padding-top: 15px;
}

#index {
    vertical-align: middle;
}

#name {
    font-size: large;
}

#price {
    float:left;
    height:30px;
    display:block;
    border:1px solid blue;
    color: blue;
    line-height:30px;
    text-align:center;
    padding:0px 15px;
    border-radius:3px;
    margin-top: 30px;
    font-weight: 500;
    vertical-align: middle;
}




